{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-6 col-md-offset-3">
        <div class="panel">
            <div class="panel-heading">
                Your message:
            </div>
            <div class="panel-body">
                {{ message_content }}
            </div>
        </div>
    </div>
{% endblock %}